<template>
  <v-layout>
      <v-flex xs12 sm12>
        <v-img
          height="400px"
          src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg"
          gradient="to top right, rgba(247,143,30,.53), rgba(45,183,214,.1)"
        ></v-img>
      </v-flex>
    </v-layout>
</template>