<template>
  <div>
    <div class="container" id="app">
      <div class="list-group-wrapper">
        <transition name="fade">
          <div class="loading" v-show="loading">
            <span class="fa fa-spinner fa-spin"></span> Nalagam
          </div>
        </transition>
        <ul class="list-group" id="infinite-list">
          <v-container fluid grid-list-sm>
            <v-layout row wrap>
              <v-flex xs12 sm6 md3 lg3 xl3 v-for="itemImage in items">
                <div class="imgContainer shadow">
                  <v-card fluid grid-list-lg>
                    <v-img :src="itemImage" aspect-ratio="1"></v-img>
                  </v-card>
                </div>
              </v-flex>
            </v-layout>
          </v-container>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    items: [],
    bottom: false,
    loading: false,
    nextItem: 1
  }),
  mounted() {
    // Detect when scrolled to bottom.
    const listElm = document.querySelector("#infinite-list");
    listElm.addEventListener("scroll", e => {
      if (listElm.scrollTop + listElm.clientHeight >= listElm.scrollHeight) {
        for (var i = 0; i < 8; i++) {
          this.items.pop();
        }
        this.loadMore(4);
      }
    });

    // Initially load some items.
    this.loadMore(8);
  },
  methods: {
    loadMore(number) {
      this.loading = true;
      setTimeout(e => {
        for (var i = 0; i < number; i++) {
          axios
            .get(`http://www.mocky.io/v2/5c911e113300001824649b7f`)
            .then(response => {
              this.items.push(response.data.imgUrl);
            });
        }
        this.loading = false;
      }, 200);
      /**************************************/
    }
  }
};
</script>

<style>
.shadow {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 0px 0px 3px 3px;
}

.imgContainer {
  padding: 5px;
  margin: 5px;
}

.list-group-wrapper {
  position: relative;
}
.list-group {
  overflow: auto;
  height: 50vh;
  border: 2px solid #dce4ec;
  border-radius: 5px;
}
.list-group-item {
  margin-top: 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #dce4ec;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
