<template>
  <div>


    <v-container fluid grid-list-sm>
      <v-layout row wrap>
        <v-flex xs12 sm6 md3 lg3 xl3 v-for="itemImage in items">
          <div class="imgContainer shadow">
            <v-card fluid grid-list-lg>
              <v-img :src="itemImage" aspect-ratio="1"></v-img>
            </v-card>
          </div>
        </v-flex>
      </v-layout>
      <v-layout justify-center>
        <v-btn v-on:click="loadMore" small color="primary">Hočm še</v-btn>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    items: [],
    bottom: false
  }),
  methods: {
    getItems() {
      for (var i = 0; i < 8; i++) {
        axios
          .get(`http://www.mocky.io/v2/5c911e113300001824649b7f`)
          .then(response => {
            this.items.push(response.data.imgUrl);
          });
      }
    },
    loadMore() {
      this.items = [];
      axios;
      for (var i = 0; i < 4; i++) {
        axios
          .get(`http://www.mocky.io/v2/5c911e113300001824649b7f`)
          .then(response => {
            this.items.push(response.data.imgUrl);
          });
      }
    },

    bottomVisible() {
      const scrollY = window.scrollY;
      const visible = document.documentElement.clientHeight;
      const pageHeight = document.documentElement.scrollHeight;
      const bottomOfPage = visible + scrollY >= pageHeight;
      return bottomOfPage || pageHeight < visible;
    },

    scroll(items, number) {

      for (var i = 0; i < number; i++) {
        axios
          .get("http://www.mocky.io/v2/5c911e113300001824649b7f")

          .then(response => {
            this.items.push(response.data.imgUrl);
          });
      }
    }
  },

  beforeMount() {
    this.getItems();
  },
  created() {
    window.addEventListener("scroll", () => {
      this.bottom = this.bottomVisible();
    });
    this.scroll(this.itemImage);
  }
};
</script>

<style>
.shadow {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 0px 0px 3px 3px;
}
.imgContainer {
  padding: 5px;
  margin: 5px;
}
</style>
