<template>
<v-toolbar  fixed app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Narejeno z </span>
        <span class="font-weight-light">Vuetify</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
<v-toolbar-items  class="hidden-sm-and-down" >

    <v-btn
        flat
         v-on="on"
         @click="$router.push('/')">
      
        <span class="mr-2">Primer 1</span>
      </v-btn>
     
    <v-btn
        flat
         v-on="on"
        @click="$router.push('/primer2')">
      
        <span class="mr-2">Primer 2</span>
      </v-btn>

    <v-btn
        flat
         v-on="on"
             @click="$router.push('/primer3')">
      
        <span class="mr-2">Primer 3</span>
      </v-btn>
 
    <v-btn
        flat
         v-on="on"
             @click="$router.push('/primer4')">
      
        <span class="mr-2">Primer 4</span>
      </v-btn>


<v-menu  fixed min-width="100%" >
      <template v-slot:activator="{ on }">
        <v-btn
        flat
         v-on="on"
      >
        <span class="mr-2">Mega meni</span>
      </v-btn>
      </template>
      <v-list >
        <v-list-tile
          v-for="(item, index) in items"
          :key="index"
        
        >
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
</v-toolbar-items>

<v-menu  class="hidden-md-and-up">
        <v-toolbar-side-icon slot="activator"></v-toolbar-side-icon>
        <v-list>
           <v-btn
        flat
         v-on="on"
         @click="$router.push('/')">
      
        <span class="mr-2">Primer 1</span>
      </v-btn>
     
    <v-btn
        flat
         v-on="on"
        @click="$router.push('/primer2')">
      
        <span class="mr-2">Primer 2</span>
      </v-btn>

    <v-btn
        flat
         v-on="on"
             @click="$router.push('/primer3')">
      
        <span class="mr-2">Primer 3</span>
      </v-btn>
 
    <v-btn
        flat
         v-on="on"
             @click="$router.push('/primer4')">
      
        <span class="mr-2">Primer 4</span>
      </v-btn>
        </v-list>
      </v-menu>
    </v-toolbar>
    </template>
    <script>
    
export default {
  data: () => ({
  items: [
        { title: 'Tukaj je primer' },
        { title: 'Mega menija' },
        { title: 'Z eno samo' },
        { title: 'Listo, lahko bi dodali karokoli' }
      ]
   
  })
}
 
    </script>
    <style>

    </style>