
<template>
  <v-app>
  <banner></banner>
<toolbar></toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>

import toolbar from "./components/toolbar";
import banner from "./components/banner";
export default {
 
  name: 'App',
  
  components: {
    toolbar,
    banner
  },
  data () {
    return {
    
    }
  }
}
</script>
